.Tarjeta {
    display: flex;
    flex-direction: column;
    background: rgb(114,196,45);
background: linear-gradient(180deg, rgba(114,196,45,1) 0%, rgba(191,255,137,1) 50%, rgba(199,255,153,1) 100%);  
    color: rgb(41, 41, 41);
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 10px;
    font-size: 30px;
    padding: 20px;
  }

.Imagen {
    width: 400px;
    background-color: white;
    border-radius: 100%;
}

.Texto {
    border-radius: 10px;
    background-color: rgb(43, 187, 63);
    width: 100%;
    margin-top: 20px;
    
}